# Height data files (DGM1, DOP20, LOD2)
data/DGM1
data/DOP20
data/LOD2
data/DGM30
data/DOP300
data/assets

# Cache files
cache/
debug/
bin/

# Vorlage BeamNG
levels/

# Python
__pycache__/
*.py[cod]
*$py.class
*.backup
.venv/
venv/

# Output files
*.obj
*.mtl
*.zip
*.tar.gz
*.log
*.exe


# IDE
.vscode/
.idea/
*.code-workspace

# Documentation (internal only)
REFACTORING.md
report.html
